#Python
__pycache__/
*.pyc
*.pyo
*.pyd

#Virtual environment
\venv

# environment variabe files
.env
*.env


# Database
db.sqlite3
data.json/

# Media files
media/

# IDE-specific files
.idea/
.vscode/
